body{
    font-family: "Arial";
    background-image:url(./background_image_2.jpg);
}
h1{
    font-size:30px;
}
h2{
    font-size: 26px;
}
h4{
    font-size: 22px
}
h5{
    font-size: 16px;
}
h6{
    font-size:14px;
}
p, li{
    font-family: "Calibri";
    font-size:12px;
}
.grid{
    display: grid;
    margin: 10px 40px;
    padding:40px;
    border: 2px black;
    width: 600px;
    height: 1400px;
    grid-template: 1fr 2fr 3fr 3fr 3fr 3fr / 1fr 2fr;
    background-color: whitesmoke;
}
.contact{
    padding: 10px;
}
.about{
    padding: 10px;
}
.education
{
    padding: 10px;
}
.experience{
    padding: 10px;
}
.skills{
    padding: 10px;
}