body{
    font-family: "Raleway SemiBold";
}
h1{
    font-size:28px;
}
h2{
    font-size: 22px;
}
h4{
    font-size: 18px
}
h5{
    font-size: 16px;
}
h6{
    font-size:14px;
}
p{
    font-family: "Calibri";
    font-size:10px;
}
