body{
    background-image: url("./background_image_1.jpg");
    background-repeat: repeat-y;
}
.container{
    display: block;
    background-color: white;
    border: 2px white;
    padding: 90px 90px; 
    position: relative;
    margin: 100px auto;
    max-width: 800px;
    justify-content: space-evenly;
}
h1{
    font-family: 'Arial Narrow';
    font-size: 60px;
    letter-spacing: 0.30em;
    padding: 5px 8px;
}
h2{
    font-family: 'Arial Narrow';
    font-size: 30px;
    letter-spacing: 0.30em;
    color: grey;

}
h4{
    font-family:'Arial Narrow';
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.10em;
}
h5{
    font-family:'Arial';
    font-size: 14px;
    font-weight: bold;
}
h6{
    font-family: 'Arial';
    font-size: 14px;
    color:rgb(60, 64, 68);
}
p, ul{
    font-family: 'Arial';
    font-size: 12px;
}
.btn{
    background-color: darkgrey;
    color: white;
    border: 1px white;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right:auto;
}